/* Global styles */
body {
	background: coral url("images/ftfBack.jpg");
	background-size: cover;
}

/* jumbotron styling */
.jumbotron {
	background-color: #C12902;
	border: solid #F6D758 2px;
}

.jumbotron h1 {
	color: #F6D758;
	text-shadow: 4px 4px 0 black;
	font-size: 60px;
	text-align: center;
	font-family: alegreya sans SC;
}

.jumbotron p {
	color: #F6D758;
	font-size: 20px;
	text-align: center;
	font-family: alegreya sans SC;

}


/*navBar Styling*/
img[alt="FTF logo"] {
	width: 100px;
	height: auto;
}
.signUp {
	background-color: #C12902;
	border:none;
	color: #F6D758;
}

.signIn {
	background-color: #F6D758;
	border:none;
	color: #C12902;
}

/*!*.searchButton*!*/

/*.signIn:hover {*/

/*}*/
/*.signUp:hover {*/
/*	co*/
/*}*/
